{
  "extends": [
    "eslint:recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks",
    "typescript-sort-keys",
    "sort-keys-fix",
    "sort-destructure-keys"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "tsconfigRootDir": "__dirname",
    "project": ["./tsconfig.json"]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-sort-props": ["WARN", {
      "callbacksLast": false,
      "shorthandFirst": true,
      "ignoreCase": true,
      "noSortAlphabetically": false,
      "reservedFirst": true
    }],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "sort-keys-fix/sort-keys-fix": "WARN",
    "sort-destructure-keys/sort-destructure-keys": "WARN",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "typescript-sort-keys/interface": "WARN",
    "typescript-sort-keys/string-enum": "WARN"
  }
}
